$default-font-size: 16px;
$default-font-family: sans-serif;
$default-font-weight: 400;
$default-line-height: 1.5;

$basicWhite: #fff;
$basicBlack: #000;
$basicGray: #f5f5f5;
$basicRed: #ff0000;
$basicBlue: #0000ff;
$basicGreen: #00ff00cc;
$basicYellow: #ffff00;
$basicOrange: #ffa500;

$colors: (
  "red": red,
  "blue": blue,
  "green": green,
  "yellow": yellow,
  "orange": orange,
);
